<ion-row>
  <ion-col><ion-input #num [label]="label" type="number" [value]="dimension.value" [readonly]="dimension.readonly"
      (ionChange)="handleValueChange(num.value)"></ion-input></ion-col>
  <ion-col><ion-select #unitName label="units" interface="popover" mode="ios" [value]="dimension.units"
      (ionChange)="handleUnitChange(unitName.value)">
      <ion-select-option *ngFor="let option of dimension.unitOptions"
        [value]="option.value">{{option.label}}</ion-select-option>
    </ion-select>
  </ion-col>
</ion-row>