<ion-list>
    <ion-item><app-project-thumb name="sweater"/></ion-item>
    <ion-item><app-project-thumb name="scarf"/></ion-item>
    <ion-item><app-project-thumb name="mittens"/></ion-item>
    <ion-item><app-project-thumb name="vest"/></ion-item>
    <ion-item><app-project-thumb name="gloves"/></ion-item>
    <ion-item><app-project-thumb name="hat"/></ion-item>
    <ion-item><app-project-thumb name="beret"/></ion-item>
    <ion-item><app-project-thumb name="blanket"/></ion-item>
    <ion-item><app-project-thumb name="socks"/></ion-item>
</ion-list>
