<ion-grid>
  <app-measurement #width name="Width" [dimension]="widthDimension" (change)="handleWidthChange(width.dimension)"/>
  <app-measurement #height name="Height" [dimension]="heightDimension" (change)="handleHeightChange(height.dimension)"/>
  <app-measurement #gaugeDim name="gauge" [dimension]="gaugeDimension" (change)="handleGaugeChange(gaugeDim.dimension)"/>
  <app-measurement #ballDim name="ball size" [dimension]="ballSizeDimension" (change)="handleBallSizeChange(ballDim.dimension)"/>
  <app-measurement #needed name="yarn needed" [dimension]="yarnDimension" (change)="handleYarnChange(needed.dimension)" />
  <app-measurement #balls name="ball count" [dimension]="ballsDimension" (change)="handleBallSplitChange(balls.dimension)" />
</ion-grid>